body {
  padding-top: 0px; 
  width: 100%;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: red;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
}

#navBar {
  height: 75px;
  background-color: rgba(118, 133, 138, .5);
}

.navbar-form {
  margin-top: 20px;
  margin-left: 40px;
}

.btn {
  height: 33px;
  border: 4px solid black;
  padding: 10px 10px 10px 10px;
  background-color: blue;
}

#row {
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
}

.divider{
  width: 100%;
  height: 10px;
  display: block;
  background-color: purple;
}

#container {
  width: 90%;
  margin: 20px auto;
}

.cards {
  width: 32%;
  background-color: teal;
  margin: 20px 0 10px 43px;
  display: inline-block;
}

.on{
  border: 10px groove rgba(100, 130, 200, .1)!important; /* overides inline styling from DOM */
  background-color: grey;
}

h3 {
  color: red;
}

h3, p {
  margin: 15px auto;
  text-align: center;
}

.description {
  text-align: justify;
  height: 150px;
}
